body
{
	background: linear-gradient(to right, #b38f00 0%, #ffff33 100%);
	font-family: cursive;
	font-size: 20px;
	margin: 0;
}
h1
{
	font-size: 60px;
	font-family: serif;
	text-shadow: 2px 1px black;
}
h2
{
	font-size: 30px;
}
button
{
	text-align: center;
	font-size: 20px;
  	cursor: pointer;
  	border-color: white;
  	box-shadow: 5px 10px 10px #666600;
}
div
{
  	text-align: center;
}
#Container2
{
  	margin-top: 1vh;
}
#Container
{
    margin: 0px auto;
    width: 50%;
    height: 360px;/*Total should be 410px*/
	background-image: url(../images/Hesperidium.jpg);
  	background-repeat: repeat;
	background-size: contain;
	background-position: center;
	border: 1px solid #808000;
  	padding-top: 50px;/*Total should be 410px*/
  	color: white;
  	box-shadow: 5px 10px 20px #666600;
}
#Container:hover
{
	background-repeat: no-repeat;
	background-image: none;
	border-style: none;
}
.BerryButtons
{
  	color: white;
  	border-radius: 50%;
}
#BerryButton1
{
	background-color: #008000;
	padding: 80px;
	margin-left: 15%;
	float: left;
}
#BerryButton2
{
	background-color: #cc2900;
	padding-top: 80px;
	padding-bottom: 80px;
	padding-right: 50px;
	padding-left: 50px;
	margin-right: 15%;
	float: right;
}
#StartButton
{
	background-color: white;
	color: black;
	padding: 30px;
	border-radius: 40%;
}
#BerryButton1:hover 
{
	background-color: #00cc00;
}
#BerryButton2:hover 
{
	background-color: #ff0000;
}
#StartButton:hover
{
	background-color: black;
	color: white;
}
@media screen and (max-height: 320px)
{
	h1
	{
		font-size: 40px;
	}
	#Container
	{
    	width: 50%;
    	height: 100px;
    	padding-top: 0px;
    	padding-bottom: 10px;
	}
	#BerryButton1
	{
		padding: 25px;;
	}
	#BerryButton2
	{
		padding-top: 20px;
		padding-bottom: 20px;
		padding-right: 15px;
		padding-left: 15px;
	}
	#StartButton
	{
		padding: 20px;
		text-align: center;
	}
	#Container2
	{
  		margin-top: 1px;
	}
	#Container3
	{
		font-size: 15px;
	}
}
@media screen and (max-width: 600px) and (min-height: 320px)
{
	h1
	{
		font-size: 40px;
	}
	#Container
	{
    	width: 100%;
    	height: 180px;
    	padding-top: 0px;
    	padding-bottom: 10px;
	}
	#BerryButton1
	{
		padding: 30px;
		font-size: 10px;
	}
	#BerryButton2
	{
		padding-top: 30px;
		padding-bottom: 30px;
		padding-right: 15px;
		padding-left: 15px;
		font-size: 10px;
	}
	#StartButton
	{
		padding: 20px;
		text-align: center;
	}
	#Container2
	{
  		margin-top: 2vh;
	}
	#Container3
	{
		font-size: 15px;
	}
}